<style>
  @media screen {
    .print-format {
      width: 4.135in;
      padding: 0.25in;
      min-height: 5.845in;
    }
  }

  .print-format header, .print-format footer, .print-format section,
  .print-format h1, .print-format p,
  .print-format div,
  .print-format dl, .print-format dt, .print-format dd {
    font-family: Monospace;
    line-height: 1.8;
  }

  .print-format header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-bottom: 1em;
  }
  .print-format header > img {
    max-width: 92px;
    margin-right: 6px;
  }
  .print-format header p {
    font-size: .8em;
    line-height: 1.2;
  }
  .print-format header p:first-of-type {
    font-weight: bold;
  }

  .print-format h1 {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 1rem 0;
    padding: 1rem 0;
    font-size: 1.5rem;
  }

  .print-format dl {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .print-format dl > div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
  .print-format dl > div.not-full-width {
    width: initial;
  }

  .print-format dl dt::after {
    content: ': ';
    margin-right: 1em;
  }

  .print-format dl.important > div {
    flex-flow: column nowrap;
  }
  .print-format dl.important dd {
    font-size: 1.5em;
    font-weight: bold;
  }

  .print-format dl.major {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 1rem 0;
    padding: 1rem 0;
  }
  .print-format dl.major > div {
    justify-content: flex-end;
  }
  .print-format dl.major dd {
    min-width: 8em;
    text-align: right;
  }
  .print-format dl.major > div:last-of-type > dd {
    margin-top: .125em;
    padding-top: .125em;
    border-top: 1px solid #888;
  }

  .print-format footer {
    margin-top: 1em;
    text-align: center;
    font-style: italic;
  }
</style>

<h1>{{ _("Electricity Recharge") }}</h1>

<dl>
  <div>
    <dt>{{ _("Receipt No") }}</dt>
    <dd>{{ doc.name }}</dd>
  </div>
  {%- set time = (doc.transaction_date|string).split() -%}
  <div class="not-full-width">
    <dt>{{ _("Date") }}</dt>
    <dd>{{ time[0] }}</dd>
  </div>
  <div class="not-full-width">
    <dt>{{ _("Time") }}</dt>
    <dd>{{ time[1] }}</dd>
  </div>
  {%- set customer = frappe.get_doc("Customer", doc.customer) -%}
  <div>
    <dt>{{ _("Customer") }}</dt>
    <dd>{{ customer.customer_name }}</dd>
  </div>
  <div>
    <dt>{{ _("Meter No") }}</dt>
    <dd>{{ doc.unique_no }}</dd>
  </div>
</dl>

<dl class="important">
  <div>
    <dt>{{ _("Voucher Code") }}</dt>
    <dd>{{ doc.voucher_no or _("Pending") }}</dd>
  </div>
</dl>

<dl class="major">
  {%- set currency = frappe.db.get_value("Company", None, "default_currency") -%}
  <div>
    <dt>{{ _("Amount") }}</dt>
    <dd>{{ doc.get_formatted("amount", currency=currency) }}</dd>
  </div>
  <div>
    <dt>{{ _("Transaction Charges") }}</dt>
    <dd>{{ doc.get_formatted("charges", currency=currency) }}</dd>
  </div>
  <div>
    <dt>{{ _("Total") }}</dt>
    <dd>{{ doc.get_formatted("total", currency=currency) }}</dd>
  </div>
</dl>
