#page-wallet-balance {
  thead {
    tr {
      th {
        background-color: #36414c;
        color: #8d99a6;
      }
    }
  }
  tfoot {
    tr {
      td {
        font-weight: bold;
      }
    }
  }
  th.number,
  td.number {
    text-align: right;
  }
  .no-list-data {
    padding: 16px;
    text-align: center;
    color: #8d99a6;
  }
}
