#page-wallet-balance thead tr th {
  background-color: #36414c;
  color: #8d99a6;
}
#page-wallet-balance tfoot tr td {
  font-weight: bold;
}
#page-wallet-balance th.number,
#page-wallet-balance td.number {
  text-align: right;
}
#page-wallet-balance .no-list-data {
  padding: 16px;
  text-align: center;
  color: #8d99a6;
}
