  {% if data.length > 0 %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">{{ __("Wallet Provider") }}</th>
          <th scope="col" class="number">{{ __("Actual Balance") }}</th>
          <th scope="col" class="number">{{ __("Virtual Balance") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr>
          <td>
            {{ d.wallet_provider }}
          </td>
          <td class="number">
            {{ format_currency(d.actual_balance, currency, 2) }}
          </td>
          <td class="number">
            {{ format_currency(d.virtual_balance, currency, 2) }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>
            {{ __("Total") }}
          </td>
          <td class="number">
            {{ format_currency(total_actual_balance, currency, 2) }}
          </td>
          <td class="number">
            {{ format_currency(total_virtual_balance, currency, 2) }}
          </td>
        </tr>
      </tfoot>
    </table>
  {% else %}
    <div class="no-list-data">
      {{ __("No wallet providers found") }}
    </div>
  {% endif %}
